

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #36c;
    background-size: 25%;
    background-position: center;
    background-repeat: repeat;
}

ul {
    list-style: none;
}

.principal__container{
    margin: 2em auto 0;
    background-color: #36c;
    max-width: 35em;
    margin: 100px auto 50px;
    padding: 50px;
    align-items: center;
    box-shadow: 10px 12px 53px 4px rgba(0,0,0,0.61);
    -webkit-box-shadow: 10px 12px 53px 4px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 12px 53px 4px rgba(0,0,0,0.61);
    border-radius: 1em;
}

.button-container{
    margin-top: 50px; 
}


.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
}

#result {
    display:none;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para la primera página */
h1 {
    text-align: center;
    color: #ececec;
    text-transform: uppercase;
    padding: 1em;
    letter-spacing: 0.125em;
    font-size: 1.5em;
    margin-bottom: 0.6em;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

ul li a{
    color: white;
    padding: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}


ul li img{
    height: 2em;
}


label {
    color: white;
    display: block;
    margin-bottom: 2em;
}

input,
button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    cursor: pointer;
}

/* Estilos para la segunda página */
#documentForm {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

/* Estilos para la tercera página */
h3 {
    color: white;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #FFF;
    text-transform: capitalize;
    background-color: #193163;
}

.contenedor-centrado {
    text-align: center;
    margin-top: 20px;
}

a {
    color: black;
    text-decoration: none;
}

td a{
    color: white;
}

/*revisar*/
#app{
    margin: 2em auto 0;
    background-color: #36c;
    max-width: 35em;
    margin: 100px auto 50px;
    padding: 50px;
    align-items: center;
    box-shadow: 10px 12px 53px 4px rgba(0,0,0,0.61);
    -webkit-box-shadow: 10px 12px 53px 4px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 12px 53px 4px rgba(0,0,0,0.61);
    border-radius: 1em;
}