

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
    background-image: url('static/IMG/atom-30442_960_720.jpg'); 
    background-size: 25%;
    background-position: center;
    background-repeat: repeat;
}

.container-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button-container{
    margin-top: 50px; 
}


.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
}

#result {
    display:none;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
}

/* Estilos para la primera página */
h1 {
    color: #ffffff;
    text-align: center;
    border: #333;
    
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

label {
    display: block;
    margin: 10px 0;
}

input,
button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

/* Estilos para la segunda página */
#documentForm {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

/* Estilos para la tercera página */
h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #FFF;
    text-transform: capitalize;
    background-color: black;
}

th {
    background-color: #4caf50;
    color: #fff;
}

.contenedor-centrado {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4caf50;
    text-decoration: none;
}
